.form {
    display: inline-block;
    width: 100%;
  }
  
  .form-row {
    display: inline-block;
    width: 100%;
  }

  .form-row + .form-row {
    margin-top: 40px;
  }

  
  label {
    display: inline-block;
    width: 100%;
    color: #999;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
  }
  
  input {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 1.8em;
    border: none;
    border-bottom: 1px solid #999;
    padding: 0 10px;
  }

  input:focus {
      background-color: rgb(221, 230, 230);
      
  }
  
   input:focus-visible {
    outline-color: rgb(58, 57, 57);
}

::placeholder {
    color: rgb(131, 127, 127);
    font-style: italic;
}

  button {
    float: left;
    padding: 10px 40px;
    background-color: #015cda;
    border: 1px solid #0045a7;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    border-radius: 21px;
  }

  button:hover {
    background-color: rgb(45, 57, 110);
    cursor: pointer;

  }
  
  .form-row > span {
    float: left;
    padding: 11px;
    line-height: 20px;
  }

  .form-row > a {
    float: left;
    padding: 11px;
    text-decoration: none;
    line-height: 20px;
  }
  
  .form-row > a:hover{
    text-decoration: underline;
    color: cadetblue;
  }