body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
  background-color: #00b4d0;
}

.container {
  display: inline-block;
  width: 800px;
  margin: 100px calc((100% - 800px) / 2) 0;
  
}

.left-column {
   width: 40%;
  float: left;
  padding: 40px;
  background-color: #4c46a5;
  color: #fff;
  padding: 40px;
}

.main-title {
}

.bottom-links {
}

.bottom-links > a {
  color: white;
}

.bottom-links > span {
}

.right-column {
   width: 60%;
  padding: 60px;
  float: left;
  background-color:white;
}

.close {
}

.form {
  display: inline-block;
  width: 100%;
}

.form-row {
  display: inline-block;
  width: 100%;
 }

.form-row + .form-row{
  margin-top: 40px;
}

label {
  display: inline-block;
  width: 100%;
  color: #999;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
}

input {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 1.8em;
  border: none;
  border-bottom: 1px solid #999;
}

button {
  float: left;
  background-color: #0E4ED8;
  color: #fff;
  padding: 10px 40px;
  font-size: 18px;
  line-height: 20px;
  border-radius: 21px;
  border: none;
  
}

.form-row > span {
  float: left;
  line-height: 20px;
  padding: 11px;

}

.form-row > a{
  float: left;
  text-decoration: none;
  line-height: 20px;
  padding: 11px;
 }